.testcase td button {
  background-color: #ddd;
  border: none;
  text-align: right;
  padding: 1px 5px;
  margin: 0;
  font-family: monospace;
}
.testcase td:first-child {
  background-color: #ccc;
  padding: 1px 5px;
  font-family: monospace;
}
